<div style="position:relative; top:60px" class="container">


<div style="margin-bottom:0pt; margin-top:10pt; text-align:left">
<p align="center" style="margin-left:0cm; margin-right:0cm"><span style="font-size:36px"><span style="font-family:Calibri,sans-serif">Pinyin experiments</span></span></p>

<br>

<p><span style="font-size:36px"><span style="font-family:Calibri,sans-serif"><tt>1. </tt>How old are you?<br></span>
  <input type="number" ng-model="years_old">years 
  <input type="number" ng-model="months_old">months
</span></p>





<p><span style="font-size:36px"><span style="font-family:Calibri,sans-serif"><tt>2. </tt>What year are you in at school?<br></span><input type="number" ng-model="years_school" ></input> years </span></p>





<p><span style="font-size:36px"><span style="font-family:Calibri,sans-serif"><tt>3. </tt>Gender：</span>  
    <input type="radio" ng-model="gender" value="male">male&nbsp;
    <input type="radio" ng-model="gender" value="female">female
</span></p>




<p><span style="font-size:36px"><span style="font-family:Calibri,sans-serif"><tt>4. </tt>Do you speak language/languages other than English at home?</span><br>
    <input type="radio" ng-model="speak_home_or_not" value="speak_yes">Yes&nbsp;
    <input type="radio" ng-model="speak_home_or_not" value="speak_no">No&nbsp;
    
</span></p>



<p ng-show="speak_show"><span style="font-size:36px"><span style="font-family:Calibri,sans-serif">Please specify the language/languages you speak at home:</span>
  <input type="text" ng-model="language_speak_at_home" > 
  
    
</span></p>




<p><span style="font-size:36px"><span style="font-family:Calibri,sans-serif"><tt>5. </tt>Do members of your family speak languages other than English?</span><br>
    <input type="radio" ng-model="familyspeak_or_not" value="family_speak_yes">Yes&nbsp;
    <input type="radio" ng-model="familyspeak_or_not" value="family_speak_no">No&nbsp;
    
</span></p>


<p ng-show="familyspeak_show"><span style="font-size:36px"><span style="font-family:Calibri,sans-serif">Which language/languages:</span>
  <input type="text" ng-model="which_language_they_speak" >
    
</span></p>





<p><span style="font-size:36px"><span style="font-family:Calibri,sans-serif"><tt>6. </tt>Have you learned Chinese in other schools? (For example, primary school/ community language school/Saturday school)?</span><br>
    <input type="radio" ng-model="learntchinese_or_not" value="learnt_chinese_yes">Yes&nbsp;
    <input type="radio" ng-model="learntchinese_or_not" value="learnt_chinese_no">No&nbsp;
    
</span></p>


<p ng-show="learntchinese_show"><span style="font-size:36px"><span style="font-family:Calibri,sans-serif">Please specify:</span>
  <input type="text" ng-model="learntchinese_detail" >
    
</span></p>




<p><span style="font-size:36px"><span style="font-family:Calibri,sans-serif"><tt>7. </tt>How long have you been learning Chinese?<br></span><input type="number" ng-model="years_learnt" ></input> years <input type="number" ng-model="months_learnt" ></input> months</span></p>


<br><br>
 
<center><button ng-click="next()" type="submit" class="btn btn-primary">Next</button></center>

</div>

</div>