<!DOCTYPE html>

<html lang="en" ng-app="educational_app">

 <head>
    <meta charset="utf-8">
    
    <title>拼音實驗</title>

      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">

    <link type="text/css" rel="stylesheet" href="/css/login_page.css">
    <link type="text/css" rel="stylesheet" href="/css/sidebar.css">
    <link type="text/css" rel="stylesheet" href="/css/notification.css">
    <link type="text/css" rel="stylesheet" href="/css/survey.css">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <link type="text/css" rel="stylesheet" href="/css/w3pro.css">
    <link type="text/css" rel="stylesheet" href="/css/w3theme.css">
 
    
    <script src="/js/angular/angular.js"></script>
    <script src="/js/angular-ui-notification/src/angular-ui-notification.js"></script> 
    <script src="/js/angular-route/angular-route.js"></script>
    <script src="/js/angular-resource/angular-resource.js"></script>
    <script src="/js/angular-sanitize/angular-sanitize.js"></script>
    <script src="/js/videogular/videogular.js"></script>
    <script src="/js/videogular-controls/vg-controls.js"></script>
    <script src="/js/videogular-poster/vg-poster.js"></script>

    <script src="/js/videogular-ima-ads/vg-ima-ads.js"></script>
    <script src="/js/videogular-angulartics/vg-analytics.js"></script>



<script src="/js/videogular/videogular.js"></script>
<script src="/js/videogular-controls/vg-controls.js"></script>
<script src="/js/videogular-overlay-play/vg-overlay-play.js"></script>
<script src="/js/videogular-poster/vg-poster.js"></script>
<script src="/js/videogular-buffering/vg-buffering.js"></script>
<script src="/js/angular-sanitize/angular-sanitize.min.js"></script>


    <link href="/js/videogular-themes-default/videogular.css" rel="stylesheet">

    <script src="/js/app.js"></script>
    <script src="/js/app_routes.js"></script>
    <script src="/js/app_directive.js"></script>
    <script src="/js/services_user.js"></script>
    <script src="/js/services_testuser.js"></script>
    <script src="/js/service_hidenav.js"></script>


<script src="/js/app_notification.js"></script>

    <!-- 
       <script src="/js/vg-next-video-service.js"></script>
    <script src="/js/vg-next-video.js"></script>-->


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>  

    <link href="//vjs.zencdn.net/7.3.0/video-js.min.css" rel="stylesheet">
    <script src="//vjs.zencdn.net/7.3.0/video.min.js"></script>


 </head>

 <body>

  <nav-bar></nav-bar>
  <!--
  <tab-bar></tab-bar>
-->

  <ng-View></ng-View>


<!--
 <video id="my-video" class="video-js vjs-big-play-centered" controls preload="auto" width="640" height="264" data-setup="{}">
    <source src="http://www.html5videoplayer.net/videos/toystory.mp4" type="video/mp4">
 </video>


 <p>{{ Message }}</p>

-->


 </body>

</html>