
<!--
<div style="position:relative; top:60px" class="container">


<div style="margin-bottom:0pt; margin-top:10pt; text-align:left">

 
<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:60px"><span style="font-family:Calibri,sans-serif">巨浪 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jùlàng &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hugh waves</span></span></p>

    

 </div>

</div>
-->

<!--
<button ng-click="play('/chinese_voices/essay.mp3')">實驗開始</button>
-->
<button ng-click="start()">Start learning</button>
{{countdown}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2>{{text}}</h2>
<br>
<img ng-src="/photos/{{photo}}" class="img-fluid">