

<nav ng-if="nohide" class="navbar navbar-light navbar-expand-lg fixed-top navbar-expand" style="background-color: #00FF00;">
  
  <!--
  <a class="navbar-brand" href="#">Navbar</a>
  
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link">Left Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Left Link 2</a>
    </li>
  </ul>
  <button ng-click="display()"></button>
  -->

  <ul ng-if="user" class="navbar-nav mr-auto">



    <li class="nav-item active">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Hi, {{user}}</a>
    </li>

<!--
    <li class="nav-item">
      <a class="nav-link">Left Link 2</a>
    </li>
-->
<!--
        <li class="nav-item">
      <a class="nav-link active" href="#!/">
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                  
       </a>
    </li>

-->

  </ul>


  
  

  <ul class="navbar-nav ml-auto">


    <li class="nav-item">
      <a class="nav-link" ng-click="logout()">登出</a>
    </li>



   <!--
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">            Dropdown on Right</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action with a lot of text inside of an item</a>
      </div>
    </li>
  -->
  </ul>

</nav>



