 <div style="position:relative; top:80px" class="container">



<iframe style="font-family:cursive" class="survey-iframe" id="survey-iframe" ng-src="{{survey}}" frameborder="0"></iframe>



 <button ng-click="next()" type="submit" class="btn btn-primary">Submit</button>

 </div>


 <script>
$(function(){
	//$nextBtn = $('#next-btn');
	$surveyIframe = $('#survey-iframe');
	surveyIframe = $surveyIframe.get(0);

	injectionSurveyCtrl = (function(){

		function sendDataToServerDone(){
			$nextBtn.show();
		}

		function onMutation(){
			autoHeightIframe(surveyIframe);
		}


		function onValueChanged(survey, options){

	/*
            
            if(( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) == "null")
            {
			var event = app.event.create({
				type: 'survey',
				message: '實驗3-基本資料 # question # name: ' + options.name + ', value: ' + ( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ),
			    questionNumber: options.name,
			    answer: ( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) 
			});

			app.resources.events.post(event).then(function(_event){
				//console.log('[event]', _event);
				console.log('[event]', _event);
			});

            }
            else
            {
			var event = app.event.create({
				type: 'survey',
				message: '實驗3-基本資料 # question # name: ' + options.name + ', value: ' + ( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ),
			    questionNumber: options.name,
			    answer: ( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) 
			});

			app.resources.events.post(event).then(function(_event){
				//console.log('[event]', _event);
				console.log('[event]', _event);
			});
	        }
*/
		}

		return {
			sendDataToServerDone: sendDataToServerDone,
			onMutation: onMutation,
			onValueChanged: onValueChanged
		};

	})();


	$surveyIframe.load(function(){
		surveyIframe.contentWindow.app.injection.settings = {
			noPrevPageBtn: true
		};
		surveyIframe.contentWindow.app.injection.surveyCtrl = injectionSurveyCtrl;
		surveyIframe.contentWindow.app.injection.expCtrl = app.expCtrl;
		surveyIframe.contentWindow.app.surveyCtrl.initInjection();

		autoHeightIframe(surveyIframe);

		app.eggCtrl.addEventListener(surveyIframe.contentWindow.document);
	});


});

 </script>