
 <div style="position:relative; top:60px" class="container">


<div style="margin-bottom:0pt; margin-top:10pt; text-align:left">
<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:36px"><span style="font-family:Calibri,sans-serif">親愛的同學您好：</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:36px"><span style="font-family:Calibri,sans-serif">&nbsp;&nbsp;&nbsp;&nbsp;進行本實驗之前，有一份基本資料問卷要請您協助填寫，而問卷中所有搜集的資料僅供學術分析之用，個人資料會受到保密，敬請放心作答。</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:36px"><span style="font-family:Calibri,sans-serif">&nbsp;&nbsp;&nbsp;&nbsp;</span></span></p>
<br>
<p style="margin-left:0cm; margin-right:0cm; text-align:right"><strong><span style="font-size:36px"><span style="font-family:Calibri,sans-serif">臺灣師範大學教育心理與輔導學系 劉子鍵敬上</span></span></strong></p>
</div>

	
<br><br>
 
<center><button ng-click="next()" type="submit" class="btn btn-primary">Next</button></center>

 </div>