h1 {
    margin-left: 15px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {

    .brand-pills > li > a {
        border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    
    li.brand-nav.active a:after{
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 9px solid #428bca;
      position: absolute;
      top: 50%;
      margin-top: -20px;
      left: 100%;
      z-index: 2;
    }
}

.videogular-container {
    
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;
}
 
@media (min-width: 1200px) {
    .videogular-container {
      
        width: 872px;
        height: 492.6px;
    }
}
 
@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
      
        width: 800px;
        height: 451.9px;
    }
}
 
@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
      
        width: 728px;
        height: 409.5px;
    }
}